@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand-green: #27ae60;
  --color-brand-dark: #006d37;

  --animate-float: float 6s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@layer base {
  body {
    @apply font-sans text-zinc-900 bg-white selection:bg-brand-green selection:text-white;
  }
}

@layer components {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-xl border border-white/20;
  }

  .btn-primary {
    @apply bg-brand-dark text-white px-8 py-4 font-bold uppercase tracking-widest text-sm hover:bg-brand-green transition-all duration-300 rounded-none;
  }

  .btn-outline {
    @apply border border-zinc-200 px-8 py-4 font-bold uppercase tracking-widest text-sm hover:bg-zinc-50 transition-all duration-300 rounded-none;
  }
}